<h1>hello</h1>

<form action="/rand/results">
   <label for="Minimum"></label>
   <input id="random number" type="text" placeholder="E.g 1.5" name="user_min">
   <label for="Maximum"></label>
   <input id="random number" type="text" placeholder="E.g 4.5" name="user_max">

   <button>pick random number</button>
</form>    
